.padre{
    background-color: black;
    width: 20%;
    height: 20%;
}
.hijo{
    background-color: antiquewhite;
    color: aqua;
    text-align: center;
    padding: 20%;
    width: 20%;
    height: 20%;
}
